li {
  position: relative;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #330099;
  color: #333;
}   

li.checked {
  text-decoration: line-through;
  color: #b7b7b7;
}

li label,
li input {
  cursor: pointer;
}

li .delete {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #330099;
  border-radius: 20px;
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  color: #330099;
  cursor: pointer;
}

li .delete:hover,
li .delete:active {
  border: 1px solid #fff;
  color: #fff;
}